@import '../variables';

.logo {
  color: white;
}

.header {
  height: $banner-height;
  background-color: rgba($color: #000000, $alpha: 0.6);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;

  nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  img {
    height: 100%;
    cursor: pointer;
  }

  nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
  }
}

.navElement {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLinks {
  a {
    font-weight: bold;
    border-bottom: 1px solid transparent;
    transition: border-color 250ms;

    &:hover {
      border-color: $fg-selected;
    }
  }
}

.logo {
  a {
    height: 3rem;
  }
}
