/*
 * This file contains all variables used for styling this site.
 */

/* SIZES */
// maximum width for most elements
$max-width: 1440px;
// height for banner-like elements like headers or footers
$banner-height: 4rem;
// default border radius (corner roundness) for most elements
$border-radius: 0.25rem;

/* COLORS */
$bg-primary: #212121;
$bg-secondary: #2e2e2e;
$bg-tertiary: #121212;
$bg-selected: #383838;

$fg-primary: white;
$fg-secondary: white;
$fg-tertiary: white;
$fg-selected: white;

$brand-bg-primary: #dc3545;
$brand-bg-secondary: darken($brand-bg-primary, 10);

/* OTHER */
$shadow-light: 0 5px 5px
  rgba(
    $color: #000000,
    $alpha: 0.8,
  );
