@import '../../variables';

.tabButtons {
  width: 100%;
  display: flex;
  box-shadow: $card-shadow;
  position: relative;

  .tabButton {
    flex: 1;
    background-color: $bg-tertiary;
    color: $fg-primary;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    appearance: none;
    cursor: pointer;
    transition: background-color 90ms ease-out;

    &:first-child {
      border-right: 1px solid $bg-tertiary;
    }
    &:last-child {
      border-left: 1px solid $bg-tertiary;
    }

    &.active {
      background-color: $brand-bg-primary;
    }
  }
}

.platform {
  display: none;
  padding: 15px 10px 10px 10px;
  background-color: $bg-secondary;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  box-shadow: $card-shadow;
  z-index: 1;

  &.visible {
    display: block;
  }
}

.downloadsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  list-style: none;
}

.otherDownloads {
  margin: 15px 0 10px 0;
}

.noDownloads {
  display: grid;
  place-items: center;
  margin: 20px;
}
