@import '../../variables';
@import '../../mixins';

.downloadCard {
  background-color: $bg-secondary;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: $card-shadow;

  .downloadBody {
    padding: 15px 10px 0 10px;
    margin-bottom: 10px;
  }

  .downloadButton {
    @include button;
    margin-top: 10px;
    padding: 2.5px 5px;
    box-shadow: $card-shadow;
  }

  .downloadFooter {
    background-color: $bg-primary;
    padding: 15px 10px 15px 10px;
  }

  .downloadTags {
    display: flex;
    gap: 5px;
    list-style: none;

    li {
      background-color: lightgray;
      font-weight: bold;
      font-size: 0.85rem;
      color: $bg-tertiary;
      border: 1px solid darken($color: lightgray, $amount: 50);
      border-radius: $border-radius;
      padding: 2.5px 5px;
    }
  }
}
