@import '../../variables';

.downloads {
  background-color: $bg-tertiary;
}

.downloadsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  list-style: none;
}

.tabButtons {
  width: 100%;
  display: flex;
  border-radius: $border-radius;
  padding: 5px;
  background-color: $bg-tertiary;
  overflow: hidden;

  .tabButton {
    flex: 1;
    background-color: $bg-secondary;
    color: $fg-primary;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 10px;
    border: none;
    appearance: none;
    cursor: pointer;
    transition: background-color 90ms ease-out;

    &:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      border-right: 1px solid $bg-tertiary;
    }
    &:last-child {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      border-left: 1px solid $bg-tertiary;
    }

    &.active {
      background-color: $brand-bg-primary;
    }
  }
}

.platform {
  display: none;
  padding: 5px;

  &.visible {
    display: block;
  }
}

.otherDownloads {
  margin: 10px 0;
}

.noDownloads {
  display: grid;
  place-items: center;
  margin: 20px;
}
